* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 776px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 16px; */
  /* padding-right: 16px; */
}

header {
  margin-top: 96px;
  margin-bottom: 64px;
}

.intro-chunk {
  padding-left: 24px;
  padding-right: 24px;
}

.intro-chunk > p {
  width: 415px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

h1 {
  font-size: 2rem;

  margin: 48px 0;
}


main {
  /* height: 100%; */
  background-color: hsla(0, 0%, 40%, 1);

  border-top: solid 8px hsla(0, 0%, 60%, 1);

  padding-top: 64px;
  padding-bottom: 72px;;
}

.card {
  background-color: hsl(0deg, 0%, 100%);

  margin-top: 8px;

  padding: 8px 24px;

  border-bottom: solid 8px hsla(0, 0%, 60%, 1);
}

.card h2 {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: solid 8px hsl(45deg, 100%, 40%);

  width: fit-content;

  margin-top: 0px;
  margin-left: -32px;
  padding: 16px 32px;

}

.card p {
  margin-top: 16px;
  margin-bottom: 16px;
}
